parameters:
    level: max
    paths:
        - src
        - config
        - tests/config
        - tests/src
    ignoreErrors:
        -
            message: '#Call to an undefined method ReflectionClass<.*>::isUninitializedLazyObject#'
            reportUnmatched: false
        -
            message: '#Call to an undefined method ReflectionClass<.*>::initializeLazyObject#'
            reportUnmatched: false
